{% extends 'base.html.twig' %}
{% block body %}

<div class="row">

  <div class="col-sm-9">

<div id="accordion">
{%if properties is not empty %}
  {% for i in properties %}
  <div class="card">
    <div class="card-header {% if i.isFeatured %}bg-primary text-white {%endif%}" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link {% if i.isFeatured %}text-white{%endif%}" data-toggle="collapse" data-target="#collapse{{ i.id }}" aria-expanded="true" aria-controls="collapse{{ i.id }}">
          #{{ i.id }} - {{ i.name }}
		  {% if i.isFeatured %}<i class="far fa-star"></i>{%endif%}
        </button>
      </h5>
    </div>
    <div id="collapse{{ i.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
		<div class="d-flex">
			<div class="text-left">Price: € {{ venToEur(i.lowestPricePerNight.value) }}</div>
			<div class="ml-auto">
			{% if i.overallRating is not null %}
				Ratings: {{ i.overallRating.overall }}
			{% endif %}
			</div>
		</div>
        {{ i.overview }}
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
<div class="alert alert-info" role="alert">
  No properties found.
</div>
{% endif %}
</div>

  </div>

  <div class="col-sm-3">
	{{ dump(content) }}
  </div>

</div>


{% endblock %}